
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
   
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   </head>

  <div class="sidebar" *ngIf="Showsidebare">
    <div class="logo_content">
      
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
         <a href="departmentmanager/department">

            <i class='bx bx-building-house' ></i>
         
            <span class="tooltip">Department manager</span>

         </a> 
         
      </li>
      <li>
        <a href="products/inmydepartment/:id">
            
          <i class='bx bx-dialpad-alt' ></i>
          <span class="links_name">Products in department</span>
        </a>
        <span class="tooltip">Products in department</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bxl-microsoft' ></i>
          <span class="links_name">Departments</span>
        </a>
        <span class="tooltip">Departments</span>
      </li>
      <li>
        <a href="departmentmanager/stock">
          <i class='bx bx-archive-in' ></i>
          <span class="links_name">Messages</span>
        </a>
        <span class="tooltip">Stock</span>
      </li>
      <li>
        <a href="/administrator">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Tables</span>
        </a>
        <span class="tooltip">Tables</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-folder' ></i>
          <span class="links_name">File Manager</span>
        </a>
        <span class="tooltip">Files</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart-alt' ></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="administrator/product">
          <i class='bx bx-heart' ></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Products</span>
      </li>
      <li>
        
        <a href="administrator/product">
          <i class='bx bx-plus-circle' ></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Add new product</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Prem Shahi</div>
            <div class="job">Web Designer</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>
  


