


<div class="container">
    <div class="row">
      <div class="col">
        <button class="button" routerLink="client/profile" id="submitButton" class="buttony">Profile</button>
      </div>
      <div class="col">
        <button class="button" routerLink="client/claim" id="submitButton" class="buttony">Claim</button>
      </div>
      <div class="col">
        <button class="button" routerLink="cagnotte" id="submitButton" class="buttony">Donation</button>
      </div>
      <div class="col">
        <button class="button" routerLink="/client/order" id="submitButton" class="buttony">Article</button>
      </div>

</div>
</div>
<div class="row mt-5">
    <div class="col">
      <button class="col btn btn-dark btn-rounded" routerLink="/" (click)="logOut()"><h2>LogOut</h2></button>
    </div>
  </div>
