


<div class="container">
    <div class="row">
      <div class="col">
        <button class="button" routerLink="client/profile"><h3><i class="fa fa-tags" aria-hidden="true"></i>Profile</h3></button>
      </div>
      <div class="col">
        <button class="button" routerLink="client/claim"><h3><i class="fa fa-tags" aria-hidden="true"></i>Claim</h3></button>
      </div>
      <div class="col">
        <button class="button" routerLink="client/cagnotte"><h3><i class="fa fa-tags" aria-hidden="true"></i>Cagnotte</h3></button>
      </div>
      <div class="col">
        <button class="button" routerLink="/client/order"><h3><i class="fa fa-tags" aria-hidden="true"></i>Article</h3></button>
      </div>

</div>
</div>
<div class="row mt-5">
    <div class="col">
      <button class="col btn btn-dark btn-rounded" routerLink="/" (click)="logOut()"><h2>LogOut</h2></button>
    </div>
  </div>
