<div class="field">
    <button type="button" (click)="ViewClaim()"  id="submitButton" class="btn btn-primary" >Show Claim</button>
   <!-- <button type="button" (click)="AddClaimshow()"  id="submitButton" class="btn btn-primary" >Delete Claim</button>
    </div>-->

   <!--<div *ngIf="show">--> 
      
  


        
   

       
    
   <div *ngIf="show"> 












<table class="table table-hover">
            
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title </th>
        <th scope="col">description</th>
        <th scope="col">Date</th>
      </tr>
    </thead>

    
      <tr *ngFor="let c of ListClaim">
   
        <td>{{c.idClaim}}</td>
        <td>{{c.titleClaim}}</td>
        <td>{{c.descriptionClaim}}</td>
        <td>{{c.dateClaim}}</td>
        
        <div >
  <button (click)="DeleteClaim(c.idClaim)" type="button" class="btn-danger"> DELETE </button>
</div>
      </tr>
      
  
   

  </table>
