<!--<div class="field">
    <button type="button" (click)="ViewClaim()"  id="submitButton" class="btn btn-primary" >Show Claim</button>
    <button type="button" (click)="AddClaimshow()"  id="submitButton" class="btn btn-primary" >Delete Claim</button>
    </div>

   <div *ngIf="addclaim"> 
      
  


        
   

       
    
   <div *ngIf="show"> -->






























<div class="wrapper">
  <div class="text-center pt-4 pb-3">
  <h5 class="mt-1 mb-4">Client: Claim</h5>
    <form  #F="ngForm"  action="#">
      <div class="field">
      
        <label class="btn-lg">Title</label>
      <input type="text" required placeholder="Title Claim"  id="titleClaim" name="titleClaim" [(ngModel)]="claim.titleClaim">
     
      
      </div>
      
      
      <div class="field">
      
        <label  class="btn-lg">Description</label>
        <input type="text" required placeholder="Description Claim"  id="descriptionClaim" name="descriptionClaim" [(ngModel)]="claim.descriptionClaim">
       
        
        </div>
    
      
    
    
    
    
          <div class="field">
      
            <label  class="btn-lg">Date</label>
            <input type="text" required placeholder="Date Calim"  id="dateClaim" name="dateClaim" [(ngModel)]="claim.dateClaim">
           
            
            </div>
      
      
      
    
    
      <div class="field">
        <button type="button" [disabled]="F.invalid" id="adddepartment" (click)="addClaim()" class="btn btn-success">Add new Department</button>
        
        </div>
        
        
        </form>
    
        </div>
</div>