.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
  }
  
    .custab:hover {
      box-shadow: 3px 3px 0px transparent;
      transition: 0.5s;
    }
  
  h3 {
    color:brown;
    font-style:italic;
    position: center;
    text-align:center;
  
  }
  h1 {
    color: brown;
    font-style: italic;
    position: center;
    text-align: center;
  }
  a{
      width:80px;
      height:35px
  }
  table {
    position: center;
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
  }
  
  body {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  
  .btn-purple-moon {
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-ultra-voilet {
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-pink-moon {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-cool-blues {
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-dark-blue {
    background: #7474BF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-green-moon {
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-orange-moon {
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-dark-moon {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-light-moon {
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    border: 3px solid #eee;
  }
  
  .btn-funky-moon {
    background: #A770EF; /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
  }
  
  .btn-rounded {
    border-radius: 100px;
    height: 100px;
    width: 500px;
    position: static;
    text-align: center;
    margin: auto;
  }
  
  .button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
    background-color: #2b7da3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 255px;
    height: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
    background-color: #2b7da3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 255px;
    height: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  h3 {
    font-style: initial;
    color: rgb(255, 255, 255);
  }
  .container {
    margin-top: 1%;
  }
  .button:hover {
    background: rgb(176, 231, 26);
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus {
    outline: 0;
  }

  body {
    background-color: #eee
}

.card {
    background-color: #fff;
    width: 280px;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important
}

.top-container {
    display: flex;
    align-items: center
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px
}

.mail {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px
}

.middle-container {
    background-color: #eee;
    border-radius: 12px
}

.middle-container:hover {
    border: 1px solid #5957f9
}

.dollar-div {
    background-color: #5957f9;
    padding: 12px;
    border-radius: 10px
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.dollar {
    font-size: 16px !important;
    color: #5957f9 !important;
    font-weight: bold !important
}

.current-balance {
    font-size: 15px;
    color: #272727;
    font-weight: bold
}

.amount {
    color: #5957f9;
    font-size: 16px;
    font-weight: bold
}

.dollar-sign {
    font-size: 16px;
    color: #272727;
    font-weight: bold
}

.recent-border {
    border-left: 2px solid #5957f9;
    display: flex;
    align-items: center
}

.recent-border:hover {
    border-bottom: 1px solid #dee2e6 !important
}

.recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: #5957f9;
    margin-left: 2px
}

.wishlist {
    font-size: 16px;
    font-weight: 700;
    color: #272727
}

.wishlist-border:hover {
    border-bottom: 1px solid #dee2e6 !important
}

.fashion-studio {
    font-size: 16px;
    font-weight: 700;
    color: #272727
}

.fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6 !important
}

#submitButton{
  color: #fff;                /*buttons fonts*/
border:#262626;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin-top: 42px;
margin-bottom: 70px;
margin-right:12px ;
margin-left:10px ;

font-size: 20px;
font-weight: 500;
cursor: pointer;
background: linear-gradient(-135deg, #06c3e4, #da0012);
transition: all 0.3s ease;

}

.buttony {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position:initial;
  background-color: #2b7da3;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 240px;
  height: 150px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.buttony:hover {
  background: rgb(176, 231, 26);
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.buttony:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
 
  opacity: 0;
  transition: all 0.8s
}

.buttony:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttony:focus { outline:0; }

img {
  max-width: 70px;
  height: 70px;
  position: relative;
width:fit-content;
}

.container {
  margin-top: 1%;
}

body {
  margin-top: 20px;
}

.fa-fw {
  width: 2em;
}
.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  background-color: #2b7da3;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 255px;
  height: 150px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  text-decoration-color:  rgb(255, 255, 255);
}
h2 {
  color: rgb(255, 255, 255);
}

  .button:hover {
    background: rgb(176, 231, 26);
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }

  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .button:focus {
    outline: 0;
  }
#shop {
  background-repeat: no-repeat;
  height: 210px;
  width: 300px;
  margin-left: -250px;
  margin-top: -50px;
  padding-left: -50px;
}

  #shop .image {
    width: 100px;
    height: auto;
    line-height: 0px;
    margin-top: 55px;
    margin-left: 0px;
    margin-right: 0px;
  }






#submitButton {
color: #fff; /*buttons fonts*/
border: #262626;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin-top: 42px;
margin-bottom: 70px;
margin-right: 12px;
margin-left: 10px;
font-size: 20px;
font-weight: 500;
cursor: pointer;
background: linear-gradient(-135deg, #06c3e4, #da0012);
transition: all 0.3s ease;
}

.buttony {
text-align: center;
text-transform: uppercase;
cursor: pointer;
font-size: 20px;
letter-spacing: 4px;
position: initial;
background-color: #2b7da3;
border: none;
color: rgb(255, 255, 255);
padding: 20px;
width: 240px;
height: 150px;
text-align: center;
transition-duration: 0.4s;
overflow: hidden;
box-shadow: 0 5px 15px #193047;
border-radius: 40px;
}

.buttony:hover {
  background: rgb(176, 231, 26);
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.buttony:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.8s
}

.buttony:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttony:focus {
  outline: 0;
}






  