<div class="container">
    <div class="row mt-3">
  <div class="col">
    <button class="button" routerLink="/administrator"><h3><i class="fa fa-tags" aria-hidden="true"></i>Return</h3></button>
  </div>
  <div class="col">
    <button class="button" (click)="AddOrderShow()"><h3><i class="fa fa-tags" aria-hidden="true"></i>Add Cagnotte</h3></button>
  </div>
  <div class="col">
    <button class="button" (click)="ViewOrder()"><h3><i class="fa fa-tags" aria-hidden="true"></i>Cagnotte List</h3></button>
  </div>
  </div>
 </div>
 
 <div *ngIf="showOrder">
 
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 
 <div class="container">
     <div class="container">
         <div class="row col-md-6 col-md-offset-2 custyle">
          <div class=" col-md-6 col-md-offset-2 custyle">
            
         <table class="table table-striped custab">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Amount</th>
                 <th>Action</th>
                 
                 
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let c of ListCagnotte">
                 <td>{{c.idCagnotte}}</td>
                 <td>{{c.nameCagnotte}}</td>
                 <td>{{c.amountCagnotte}}</td>
                 <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteCagnotte(c.idCagnotte)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
               </tr>
         
         </tbody>
         </table>
 </div>
 </div>
 
 </div>
 </div>
 </div>
 
 <div class="container login-container" *ngIf="show">
    <h3>Add Cagnotte</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label for="name">Cagnotte Name</label>
      <input type="text" class="form-control" id="nameCagnotte" required [(ngModel)]="cagnotte.nameCagnotte" name="nameCagnotte">
    </div>

    <div class="form-group">
      <label for="name">Amount</label>
      <input type="text" class="form-control" id="amountCagnotte" required [(ngModel)]="cagnotte.amountCagnotte" name="amountCagnotte">
    </div>

    

    <button type="submit" class="btn btn-success">Add Cagnotte</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You added successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
    </div>