<div class="container">
    <div class="row mt-3">
  <div class="col">
    <button class="button" routerLink="/administrator"><h3><i class="fa fa-tags" aria-hidden="true"></i>Return</h3></button>
  </div>
  <div class="col">
    <button class="button" (click)="AddOrderShow()"><h3><i class="fa fa-tags" aria-hidden="true"></i>Add Cagnotte</h3></button>
  </div>
  <div class="col">
    <button class="button" (click)="ViewOrder()"><h3><i class="fa fa-tags" aria-hidden="true"></i>Cagnotte List</h3></button>
  </div>
  </div>
 </div>
 
 <div *ngIf="showOrder">
 
  <div *ngFor="let c of ListCagnotte">
    <div class="container d-flex justify-content-center mt-5">
      <div class="card">
          <div class="top-container"> <img src="{{c.imagenURL}}" alt="" class="img-fluid profile-image" width="100">
              <div class="ml-3">
                  <h5 class="name"><td>{{c.name}}</td></h5>
                  <p class="mail"><td>{{c.Email}}</td></p>
              </div>
          </div>
          <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
              <div class="dollar-div px-3">
                  <div class="round-div">DT</div>
              </div>
              <div class="d-flex flex-column text-right mr-2"><span class="current-balance">Amount</span><td>{{c.amountCagnotte}}</td> </div>
          </div>
          <div> <td>{{c.nameCagnotte}}</td> </div>
      
          </div>
    </div>
  </div>
  </div>
 
 <div class="container login-container" *ngIf="show">
    <h3>Add Cagnotte</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label for="name">Cagnotte Name</label>
      <input type="text" class="form-control" id="nameCagnotte" required [(ngModel)]="cagnotte.nameCagnotte" name="nameCagnotte">
    </div>

    <div class="form-group">
      <label for="name">Amount</label>
      <input type="text" class="form-control" id="amountCagnotte" required [(ngModel)]="cagnotte.amountCagnotte" name="amountCagnotte">
    </div>

    

    <button type="submit" class="btn btn-success">Add Cagnotte</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You added successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
    </div>


