.sign {
    position:absolute;

    left: 145%;


}
.basketo {
    position:absolute;

    left: 125%;


}

.froumo {
    position:absolute;

  right: 80%;


}


.evento {
    position:absolute;

  right: 60%;


}

.depo {
    position:absolute;

  right: 40%;


}


.eng {
    position:absolute;

  right: 10%;


}





.lang {
    position:absolute;

  right: 5%;


}


.depo  :hover{
    color: red;
}








.evento  :hover{
    color: red;
}


.froumo  :hover{
    color: red;
}


.basketo  :hover{
    color: red;
}




.sign  :hover{
    color: red;
}

.btn-group .button {
  background-color: #d80d0d; /* Green */
  border: 1px solid rgb(26, 27, 26);
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #000000;
}