#submitButton {
    color: #fff;
    border: #262626;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: 100px;
    margin-left: 200px;
  
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #06c3e4, #da0012);
    transition: all 0.3s ease;
  }
  
  .buttony {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position:initial;
    background-color: #2b7da3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 250px;
    height: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .buttony:hover {
    background: rgb(176, 231, 26);
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .buttony:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 80%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttony:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .buttony:focus { outline:0; }




  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 25px rgba(6, 60, 34, 0.15);
    border:1px solid black;margin-left:auto;margin-right:auto;
}
.styled-table thead tr {
  background-color: #808685;
  color: #ffffff;
  text-align: left;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #737c7a;
  size: 20px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    size: 50px;
}

.titre{
  position:relative;
}




.container{
  margin-top:2%;}