

  
    <div class="wrapper">
      <input type="radio" name="slide" id="one" checked>
      <input type="radio" name="slide" id="two">
      <input type="radio" name="slide" id="three">
      <input type="radio" name="slide" id="four">
      <input type="radio" name="slide" id="five">
      <div class="img img-1">
         <img src="assets/img/slider/5.png" alt=""> 
      </div>
      <div class="img img-2">
        <img src="assets/img/slider/1.png" alt=""> 
      </div>
      <div class="img img-3">
        <img src="assets/img/slider/2.png" alt=""> 
      </div>
      <div class="img img-4">
        <img src="assets/img/slider/3.png" alt=""> 
      </div>
      <div class="img img-5">
        <img src="assets/img/slider/4.png" alt=""> 
      </div>
      <div class="sliders">
        <label for="one" class="one"></label>
        <label for="two" class="two"></label>
        <label for="three" class="three"></label>
        <label for="four" class="four"></label>
        <label for="five" class="five"></label>
      </div>
    </div>

  


