
<div class="field">
  <button type="button" routerLink="/administrator" id="submitButton" class="btn btn-primary" >Return</button>
  <button type="button" (click)="ViewOrder()" id="submitButton" class="btn btn-primary">SHOW Order List </button>
  <button type="button" (click)="AddOrderShow()" id="submitButton" class="btn btn-primary">Add Order </button>
  </div>
 

 
 <div *ngIf="showOrder">
 
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 <div class="container">
     <div class="container">
         <div class="row col-md-6 col-md-offset-2 custyle">
         <table class="table table-striped custab">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Date</th>
                 <th>Product Number</th>
                 <th>State Order</th>
                 <th>Amount Order</th>
                 <th>Payment Type</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let o of ListOrder">
                 <td>{{o.idOrder}}</td>
                 <td>{{o.dateOrde}}</td>
                 <td>{{o.productNumberOrder}}</td>
                 <td>{{o.stateOrder}}</td>
                 <td>{{o.amountOrder}}</td>
                 <td>{{o.paymentType}}</td>
                 <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteOrder(o.idOrder)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                 <td class="text-center"><button class="btn btn-danger btn-xs" (click)="showpdf(o.idOrder)"> Generate Bill</button></td>
               </tr>
         
         </tbody>
         </table>
 </div>
 </div>
 
 </div>
 </div>
 





  <div class="container login-container" *ngIf="show">
    <br>
    <br />
    <div class="raw">
  
      <div class="col-md-16 login-form-1">
        <h3 class="col-5 mx-auto">Add Order</h3>
  
        <form name="form" #u="ngForm" (ngSubmit)="addOrder()">
        
        <div class="form-group">
          <label>Amount</label>
          <input type="text" name="Amount" class="form-control" placeholder="Amount"
                  [(ngModel)]="form.amountOrder" />
        </div>

        <div class="form-group">
          <label>Date</label>
          <input type="date" name="Date" class="form-control" placeholder="Date"
                 ngModel required #dateOrder="ngModel" [(ngModel)]="form.dateOrde" />
        </div>

        <div class="form-group">
          <label>Product Number</label>
          <input type="text" name="productNumber" class="form-control" placeholder="product Number"
                 ngModel required #productNumberOrder="ngModel" [(ngModel)]="form.productNumberOrder" />
        </div>

        <div class="form-group">
          <label>State</label>
          <input type="text" name="State" class="form-control" placeholder="State"
                 ngModele [(ngModel)]="form.stateOrder" />
        </div>

        <div class="d-grid gap-5 col-3 mx-auto">
          <button href="client" [disabled]="u.invalid" (click)="addOrder()" type="button" class="btn btn-success btn-lg"> Add Order </button>
          <button href="client" [disabled]="u.invalid"  type="button" class="btn btn-success btn-lg"> Update Order </button>
        </div>
  
     </form>
     </div>
    </div>
    

  

        

      

  