




<app-slider></app-slider>


<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1> <i> <b>
                        <p style="color:red;">{{"consomi" | translate }}</p>
                    </b></i></h1>
            <p><b>
                {{"aboutsite1" | translate }}
                </b> </p>

        </div>
    </div>


    <app-publicity-home></app-publicity-home>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{"why" | translate }}</h2>
                <p> After the revolution, the economic situation fell short of expectations. Slower growth, persistent
                    unemployment and inequalities, lower investments, sale of Tunisian products. All these elements
                    reflect the magnitude of the challenges to be met.
                    Tunisia still has challenges to take up to ensure economic recovery and social peace, in particular
                    through public finance reforms, an improvement in the business climate or measures to reduce
                    inequalities and unemployment, increase sales of Tunisian products with the implementation of new
                    sales strategies.
                </p>
                <p> <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/attar']">View details</button></p>
            </div>
            <div class="col-md-4">
                <h2> {{"newlife" | translate }} </h2>
                <p>The depreciation of the dinar is due to the deterioration of our economic fundamentals.
                    This subject affects every Tunisian, in particular our weak economy, it is therefore imperative that
                    we inform each other about the priority of local consumption, which will improve our country.
                    Any Tunisian company subject to Tunisian law, all its products put the bar code # 619, which gives
                    it the Tunisian Numbering Company of the Ministry of Commerce. To be a Tunisian company that offers
                    100% Tunisian products, it must contribute at least 40% of its turnover to Tunisian trade, so the
                    company becomes 100% Tunisian.
                </p>
                <p> <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/belle']">View details</button></p>

            </div>
            <div class="col-md-4">
                <h2>SECTION 3</h2>
                <p>
                </p>

            </div>
        </div>

        <hr>

    </div>


</main>
<br><br>