




<section id="content">
    <div class="container">
        <div *ngFor="let d of ListDepartment">




            
        <div id="main">
            <div class="imageselect row add-clearfix image-imagebox">
                <div class="col-sm-12">
                    <article class="imagebox">
                        <figure> <a href="#"><img src="{{'http://localhost:9091/SpringMVC/servlet/department/'+d.idDepartment}}" alt=""></a>
                            <figcaption> <span class="price">{{d.typeDepartment}}</span>
                                <h2 class="caption-title">{{d.nameDepartment}}</h2>
                            </figcaption>
                        </figure>
                    </article>

                     <div> 
    <object type="text/html" data="https://ocurus.com/tour/MjA0OA==" width="1300px" height="1200px" style="overflow:auto;border:5px ridge blue">
    </object>
 </div>
                </div>
            </div>

            


        </div>

       
        </div>
    </div>
</section>


<iframe src="https://ocurus.com/tour/MjA0OA=="
        width="40%" height="500" frameborder="0"
        allowfullscreen sandbox>
  <p>
    <a href="">
       Fallback link for browsers that don't support iframes
    </a>
  </p>
</iframe>