<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <br />
      <h3 class="col-12 mx-auto">UPDATE YOUR PASSWORD</h3>
      <!-- Login Form -->
      <form name="form" #update="ngForm" (ngSubmit)="updatePassword()">

        <input type="text" id="email" class="fadeIn third" name="email" placeholder="Email"
               ngModel required #e="ngModel" [(ngModel)]="form.emailUser">
        <a class="alert alert-danger" *ngIf="e.invalid && e.touched">
          Email is a Required Field !
        </a>

        <input type="password" id="password" class="fadeIn third" name="password" placeholder="New Password"
               ngModel required #np="ngModel" [(ngModel)]="form.password">
        <a class="alert alert-danger" *ngIf="np.invalid && np.touched">
          New Password is a Required Field !
        </a>

        <input type="password" id="cpassword" class="fadeIn third" name="cpassword" placeholder="Confirm Password"
               ngModel required #cnp="ngModel" [(ngModel)]="form.confirmPasswordUser">
        <a class="alert alert-danger" *ngIf="cnp.invalid && cnp.touched">
          Confirm New Password is a Required Field !
        </a>

        <input type="submit" [disabled]="update.invalid" class="fadeIn fourth" value="Save" (click)="updatePassword()">
      </form>

      <div class="alert alert-primary">{{msg}}</div>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="home/createaccount">Dont have an account yet ?</a>
      </div>
    </div>
  </div>
  </div>
