body {
  background-color: #eee
}

.badge {
  font-size: 25px;
  font-weight: 200
}

  .badge i {
    font-size: 20px;
    font-weight: 200
  }

.about-rating {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px
}

.total-ratings {
  font-size: 12px
}

.bg-custom {
  background-color: #b7dd29 !important
}

.text-custom {
  color: #b7dd29 !important
}

.progress {
  margin-top: 2px;
  border-radius: 0px;
  padding-left: 0px
}
