
<div id="shop">
  <div class="image">
    <img src="../assets/img/admin.png">
    <a href="#"></a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button class="button" routerLink="user"><h2><i class="fa fa-tags" aria-hidden="true"></i>Users</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="delivery"><h2><i class="fa fa-tags" aria-hidden="true"></i>Delivery</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/product"><h2><i class="fa fa-tags" aria-hidden="true"></i>Product</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/publicity"><h2><i class="fa fa-tags" aria-hidden="true"></i>Publicity</h2></button>
    </div>
  </div>
 


  <div class="row mt-3">
    <div class="col">
      <button class="button" routerLink="/claims"><h2><i class="fa fa-tags" aria-hidden="true"></i>Claims</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/department"><h2><i class="fa fa-tags" aria-hidden="true"></i>Department</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/sales"><h2><i class="fa fa-tags" aria-hidden="true"></i>Sales</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="order"><h2><i class="fa fa-tags" aria-hidden="true"></i>Order</h2></button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="button" routerLink="/statistic"><h2><i class="fa fa-tags" aria-hidden="true"></i>Statistic</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/comptability"><h2><i class="fa fa-tags" aria-hidden="true"></i>Accounting</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/cagnotte"><h2><i class="fa fa-tags" aria-hidden="true"></i>Cagnotte</h2></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/stock"><h2><i class="fa fa-tags" aria-hidden="true"></i>Stock</h2></button>
    </div>
    <br />
  <br />
  <br />
 
    <div class="row mt-5">
      <div class="col">
        <button class="col btn btn-dark btn-rounded" routerLink="/" (click)="logOut()"><h2>LogOut</h2></button>
      </div>
    </div>
</div>


<br />
<br />













