<button href="administrator/user">Users</button>
<button href="administrator/delivery">Delivery</button>
<button href="administrator/product">Product</button>
<button href="administrator/publicity">Publicity</button>
<button href="administrator/sales">Sales</button>
<button href="administrator/claims">Claims</button>
<button href="administrator/forum">Forum</button>
<button href="administrator/department">Department</button>
<button href="administrator/stock">Stock</button>
<button href="administrator/statistic">Statistic</button>
<button href="administrator/comptability">Compatability</button>
<button href="administrator/cagnotte">Cagnotte</button>
<button href="administrator/event">Event</button>
<button href="/">Logout</button>
