
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <button class="button" routerLink="user"><h3><i class="fa fa-tags" aria-hidden="true"></i>Users</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="delivery"><h3><i class="fa fa-th" aria-hidden="true"></i>Delivery</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/product"><h3><i class="fa fa-cube" aria-hidden="true"></i>Product</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="/publicity"><h3><i class="fa fa-balance-scale" aria-hidden="true"></i>Publicity</h3></button>
    </div>
  </div>
 


  <div class="row mt-3">
    <div class="col">
      <button class="button" routerLink="claims"><h3><i class="fa fa-tags" aria-hidden="true"></i>Claims</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="department"><h3><i class="fa fa-th" aria-hidden="true"></i>Department</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="sales"><h3><i class="fa fa-cube" aria-hidden="true"></i>Sales</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="order"><h3><i class="fa fa-balance-scale" aria-hidden="true"></i>Order</h3></button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="button" routerLink="statistic"><h3><i class="fa fa-tags" aria-hidden="true"></i>Statistic</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="comptability"><h3><i class="fa fa-th" aria-hidden="true"></i>Accounting</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="cagnotte"><h3><i class="fa fa-cube" aria-hidden="true"></i>Donation</h3></button>
    </div>
    <div class="col">
      <button class="button" routerLink="stock"><h3><i class="fa fa-balance-scale" aria-hidden="true"></i>Stock</h3></button>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row mt-5">
      <div class="col">
        <button class="col btn btn-dark btn-rounded" routerLink="/home/authentificate" (click)="logOut()"><h2>LogOut</h2></button>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>






<!--<div id="shop">
  <div class="image">
    <img src="../assets/img/admin.png">
    <a href="#"></a>
  </div>
</div>-->





