<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Responsive Mega Menu | CodingNepal</title> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <nav>
    <div class="wrapper">

      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">





      <ul class="nav-links" *ngFor="let c of ListCategories">
        <li><a href="#">{{c.nameCategory}}</a></li>



        <li><a href="#"></a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>



</body>

</html>