<nav>
  <div class="wrapper">
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />

    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"
        ><i class="fas fa-times"></i
      ></label>
      <li><a href="/">home</a></li>
      <li *ngFor="let x of ListCategories">
        <a class="desktop-item">{{x.nameCategory}}</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">category</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              
              <ul class="mega-links" *ngFor="let c of ListUnderCategories">
                
                <li *ngIf="c.category.idCategory === x.idCategory" (click)="getProdsByUnderCat(c.idUnderCategory)"><a href="client/products-view/{{c.idUnderCategory}}">{{c.nameUnderCategory}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"
      ><i class="fas fa-bars"></i
    ></label>
  </div>
</nav>






<!-- 
<nav>
    <ul class="mainMenu">
        <li><a href="#">Home</a></li>
        <li *ngFor="let x of ListCategories"><a href="#">{{x.nameCategory}}</a>
         <ul *ngFor="let c of ListUnderCategories" class="subMenu">
             <li  *ngIf="c.category.idCategory === x.idCategory" (click)="getProdsByUnderCat(c.idUnderCategory)"><a href="client/products-view/{{c.idUnderCategory}}">{{c.nameUnderCategory}}</a></li>
         </ul>
        </li>
        
        
    </ul>
</nav> -->










 
<!-- <div id="container">
  <nav>
      <ul>
          <li ><a href="">Home</a></li>
          <li *ngFor="let x of ListCategories"><a href="">{{x.nameCategory}}</a>
          
          <ul  *ngFor="let c of ListUnderCategories">

              <li  *ngIf="c.category.idCategory === x.idCategory" (click)="getProdsByUnderCat(c.idUnderCategory)"><a  href="client/products-view/{{c.idUnderCategory}}">{{c.nameUnderCategory}}</a></li>

          </ul>
      </ul>
  </nav>
</div> -->








  