<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Product number</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of product">
        <td>{{product.titleProduct}}</td>
        <td>{{product.descriptionProduct}}</td>
        <td>{{product.priceProduct / 100}}DT</td>
        <td><button class="btn btn-outline-info" routerLink="/client/detalle/{{product.idProduct}}">Buy</button></td>
      </tr>
    </tbody>
  </table> 
