.p-card {
    border: 1px solid #eee
}

.p-details {
    padding: 10px;
    border-radius: 0px;
    background: #000;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

body {
    background: #eee
}

.spec span {
    font-size: 13px
}

.spec h6 {
    font-size: 16px;
    font-weight: 500
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

.line {
    background-color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 0.2px
}
Form {
    
    left:50%;
    width:215px; /* A toi de donner la bonne largeur */
    background:rgb(221, 202, 202);
 }
 
 button{
     padding: 20px 30px;
     margin: 10px 10px;

 }