<button (click)="showdeliveryinterface()" >Delivery</button>
<button (click)="showfreedeliveryinterface()">FreeDelivery</button>


<div *ngIf="showdelivery">
<h1>Espace Delivery</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/pc.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PC</h5>
          <p class="card-text"> Lenovo PC Portable ThinkBook - i3 10è Gén-4Go-1To-Gris-Garantie 1an</p>
          <p>Price: 1,339.00 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="../../assets/t-shirtfemme.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">T-shirt-pink-for Women</h5>
          <p class="card-text">Price: 27.00 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="../../assets/valise.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">suitcase-Grey</h5>
          <p class="card-text">Price: 75.00 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>
        

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      </div>
    </div>
      

    
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/pontalanfemme.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pants for Women</h5>
          <p class="card-text">Price: 69.90 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>

        
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="../../assets/pontalanhomme.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pants for Men</h5>
          <p class="card-text">Price: 49.90 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>



      </div>
    </div>

   
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/djeansMen.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pants-Djeans-Blue</h5>
          <p class="card-text">Price: 84.99 TND</p>
          <i class="fas fa-truck">Home Delivery</i>
          <p>Delivery 7.00 TND</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      </div>
    </div>


  </div>



</div>












<div *ngIf="showfreedelivery">
<h1>FreeDelivery</h1>
<div class="card-group">
 
    <div class="card">
      <img src="../../assets/img.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">T-Shirt</h5>
        <p class="card-text">Men's T-shirt - White</p>
        <p class="card-text">Price: 13.00 TND </p>
        <i class="fas fa-truck">Home FreeDelivery</i>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
          </div>
          <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/pantalan.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jogging Pants-Grey</h5>
        <p class="card-text">Price: 34.00 TND</p>
        <i class="fas fa-truck">Home FreeDelivery</i>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Place dilevery</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
          </div>
          <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <button class="btn-primary" (click)="addDelivery()"> Place the order</button>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/shoes.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">Rocks Sneakers - Blue - For Men</p>
        <p class="card-text">Price: 82.00 TND</p>
        <i class="fas fa-truck">Home FreeDelivery</i>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default " >Place dilevery</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="delivery.placeDelivery">
          </div>
          <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.adressDelivery">adress Delivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.NameProduct">Name Product</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" [(ngModel)]="delivery.DetailleDelivery">Delivery/FreeDelivery</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <button class="btn-primary" (click)="addDelivery()" > Place the order</button>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>