.container{
    margin-top:2%;
  }

  
  .buttony {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position:initial;
    background-color: #2b7da3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 240px;
    height: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .buttony:hover {
    background: rgb(176, 231, 26);
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .buttony:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttony:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .buttony:focus { outline:0; }
  

  #shop{
    
    background-repeat:no-repeat;    
    height:200px;
    width: 700px;
    margin-left: -250px;
    margin-top: -50px;
    padding-left: -50px;
  
}

#shop .image{    
    width: 20px;
    height: auto;
    line-height: 0px;
    margin-top: 55px;
    margin-left: 0px;
    margin-right:0px;
    
    
}