
 
 



<div id="shop">
<div class="content">
    <img src="../assets/img/back2.png"> 
    <a href="#"></a>
</div>
</div>






<!--  the router link is missing  :))))))))))-->
<div class="container">
    <div class="row">
      <div class="col-sm">
          
        <button class="button" routerLink="epartment" >  <i class="fa fa-tags" aria-hidden="true"></i>  Products</button>
      </div>

      <div class="col-sm">
          
        <button class="button" routerLink="department" > <i class="fa fa-th" aria-hidden="true"></i> Departments</button>
      </div>

      <div class="col-sm">
          
        <button class="button" routerLink="stock" ><i class="fa fa-cubes" aria-hidden="true"></i>  S tock</button>
      </div>


      <div class="col-sm">
          
        <button class="button" routerLink="Department" ><i class="fa fa-balance-scale" aria-hidden="true"></i>  Sales</button>
      </div>


      
    </div>
  </div>



  <div class="jumbotron">
    <div class="container">
     
    </div>
    


<div class="jumbotron">
  <div class="container">
    
  </div>
  
</div>

<div class="jumbotron">
  <div class="container">
    
  </div>
  
</div>


