<div class="container px-5 py-5 mx-auto">
    
    <div class="row d-flex justify-content-between">
        <div class="box box1">
            <div class="fa fa-cubes fa-3x"></div>
            <h1>{{nbr}}</h1>
            <p class="sm-text">Stocks </p> <a href="#">
                <p class="bottom">the counting of stocks</p>
            </a>
        </div>
        <div class="box box2">
            <h5 class="pb-3">stock total price hold </h5>
            <h1>{{nbrr}}DT</h1>
            <p class="sm-text"></p> <a href="#">
                <p class="bottom"></p>
            </a>
        </div>
        <div class="box box3">
            <h5 class="pb-3">new stocks last month</h5>
            <h1>5</h1>
            <p class="sm-text">.</p> <a href="#">
                <p class="bottom">Read full article</p>
            </a>
        </div>
    </div>
    









<div>

    <div class="row d-flex justify-content-center mt-100">
        <div class="col-md-4">
            <input type="text" #myInput  [(ngModel)]="nameStock" (input)="Search()"   class="form-control" placeholder="Search …"> 
        </div>
    </div>
  

    <table class="styled-table">
    <thead>
    <tr>
    <th>Name</th>
    <th>quatity stock</th>
    <th>validity Stock</th>
    <th>cost stock</th>
    <th>max Stock</th>
    <th>min stock</th>
    <th>capacity Stock</th>

    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of stocks">
    <td><h6 class="card-title">{{d.nameStock}}</h6></td>
    <td><h6 class="card-title">{{d.quantityStock}}</h6></td>
    <td><h6 class="cartd-title">{{d.validityStock}}</h6></td>
    <td><h6 class="cartd-title">{{d.costStock}}</h6></td>
    <td><h6 class="cartd-title">{{d.maxStock}}</h6></td>
    <td><h6 class="cartd-title">{{d.minStock}}</h6></td>
    <td><h6 class="cartd-title">{{d.capacityStock}}</h6></td>



    
    <td>      </td>
    
    


    
    </tr>
    
    
    </tbody>
    </table>
    
    
    
    
    
    </div>







<!--  affect  a product to a stock -->

<p>affect the product to the stock :</p>
    <div>


        <form action="">
        <div class="form-group">
            
            <label>Choose Product  </label>
            <select  class="form-control" required id="Product"   #pdep="ngModel" name="Product" (change)="onChange($event.target.value)"
              [(ngModel)]="product.idProduct" class="form-control">
              <option  *ngFor="let p of productslist " [value]="p.idProduct">
                {{p.titleProduct}}
              </option>
            </select>
           

            <label>Choose Stock : </label>
            <select  class="form-control" required id="stockProduct"   #pdep="ngModel" name="stock" (change2)="onChange($event.target.value)"
              [(ngModel)]="product.stock" class="form-control">
              <option  *ngFor="let d of stocks" [value]="d.idStock">
                {{d.nameStock}}
              </option>
            </select>
           

            <button (click)="affectProdToStock()" >confirme</button>
          </div>
        </form>-

    </div>

