<div class="container mt-3">
    <div class="card p-3" style="width: 28rem;" *ngIf="product">
        <img src="{{product.imagenURL}}" alt=""
        class="card-img-top mx-auto" style="max-height: 200px; width: auto">
        <div class="card-body mx-auto">
          <h5 class="card-title">{{product.titleProduct}}</h5>
          <p class="card-text">{{product.descriptionProduct}}</p>
          <p><b>Price: </b>{{product.priceProduct / 100}}DT</p>
        </div>
        <div class="card-body">
            <app-payment
            titleProduct="{{product.titleProduct}}"
            priceProduct="{{product.priceProduct}}"
            descriptionProduct="{{product.descriptionProduct}}">
            </app-payment>
        </div>
      </div>
</div>
